div {
  width: 200px;
  height: 400px;
  border: 1px solid red;
}
p {
  margin: 0;
}
/* 行高法, 只适用于单行, */
/* div {
  line-height: 400px;
} */

/* 弹性盒子 */
/* div {
  display: flex;
  align-items: center; 
}
 */
/* 内边距控制,需要知道父级被自动填充,不能设置父容器高度 */
/* div {
  height: auto;
  padding: 100px 0;
} */

/* 使用tansform来实现 */
/* p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
} */

/* 使用表格布局 */
/* div {
  display: table;
}
p {
  display: table-cell;
  vertical-align: middle;
} */

/* 使用display:box布局 */
/* div {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  
  display: -o-box;
  -o-box-orient: horizontal;
  -o-box-pack: center;
  -o-box-align: center;
  
  display: -ms-box;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -ms-box-align: center;
  
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
} */